<h1><font size="5">Application development to meet your every need.</font></h1>
    <h1><%= image_tag('nitpic.jpg', style: "height: 100px; width: 100px", display: "block") %>    <%= image_tag('handydandy.jpg', style: "height: 100px; width: 100px", display: "block") %>    <%= image_tag('bakemecake.jpg', style: "height: 100px; width: 100px", display: "block") %></h1>
<br>
<p><font size="2">IMAGINATION . INSPIRATION . INNOVATION </font></p>
